################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/padleft/v16/.suo
/out/build/x64-Debug/VSInheritEnvironments.txt
/out/build/x64-Debug/Testing/Temporary/LastTest.log
/out/build/x64-Debug/test/test_padleft.pdb
/out/build/x64-Debug/test/test_padleft.ilk
/out/build/x64-Debug/test/test_padleft.exe
/out/build/x64-Debug/test/cmake_install.cmake
/out/build/x64-Debug/test/CMakeFiles/test_padleft.dir/vc140.pdb
/out/build/x64-Debug/test/CMakeFiles/test_padleft.dir/vc140.idb
/out/build/x64-Debug/test/CMakeFiles/test_padleft.dir/test_padleft.cpp.obj
/out/build/x64-Debug/test/CMakeFiles/test_padleft.dir/manifest.res
/out/build/x64-Debug/test/CMakeFiles/test_padleft.dir/manifest.rc
/out/build/x64-Debug/test/CMakeFiles/test_padleft.dir/intermediate.manifest
/out/build/x64-Debug/test/CMakeFiles/test_padleft.dir/embed.manifest
/out/build/x64-Debug/test/CMakeFiles/test_padleft.dir/catch_main.cpp.obj
/out/build/x64-Debug/rules.ninja
/out/build/x64-Debug/padleft.lib
/out/build/x64-Debug/cmake_install.cmake
/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Debug/CMakeFiles/padleft.dir/src/padleft.cpp.obj
/out/build/x64-Debug/CMakeFiles/padleft.dir/padleft.pdb
/out/build/x64-Debug/CMakeFiles/padleft.dir/padleft.idb
/out/build/x64-Debug/CMakeFiles/feature_tests.cxx
/out/build/x64-Debug/CMakeFiles/feature_tests.bin
/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CMakeSystem.cmake
/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CMakeRCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/out/build/x64-Debug/CMakeFiles/3.14.19060802-MSVC_2/CMakeCXXCompiler.cmake
/out/build/x64-Debug/CMakeCache.txt
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug/.ninja_log
/out/build/x64-Debug/.ninja_deps
/out/build/x64-Debug/.cmake/api/v1/reply/target-test_padleft-Debug-5a8196868830075c1c5c.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-padleft-Debug-39bdd4ffbab5efea9b08.json
/out/build/x64-Debug/.cmake/api/v1/reply/index-2019-09-19T23-09-01-0824.json
/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-16feae4306b8c88fd6ce.json
/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-5d8da99d80366ca6bdac.json
/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-7741c8393633fe45b3ad.json
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/padleft/v16/ipch/AutoPCH/8f9d03d2eb7fd2fb/CATCH_MAIN.ipch
/.vs/padleft/v16/ipch/AutoPCH/587f5001e15166b5/TEST_PADLEFT.ipch
/.vs/padleft/v16/ipch/AutoPCH/33c80b46d0b666c4/PADLEFT.ipch
/.vs/padleft/v16/Browse.VC.opendb
/.vs/padleft/v16/Browse.VC.db
